{% extends 'base.html' %}

{% block content %}
    <section class="jumbotron text-center mt-4" style="background: url('https://place-hold.it/1600x300'); background-position: center center">
        <h1 class="display-4">Всякие туры</h1>
        <p class="lead">{{ subtitle }}</p>
        <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>

    <div class="row mt-5">
    {% for id, tour in tours.items %}
        {% include 'includes/tour_card.html' %}
    {% endfor %}
    </div>
{% endblock %}

